SampleREST/.idea
SampleREST/project/project
SampleREST/mainModule/target
SampleREST/project/target
SampleREST/target

TaskForInterview/.idea
TaskForInterview/target
TaskForInterview/project/target

ПримерыJson/.idea
ПримерыJson/target
ПримерыJson/project/target

SimpleSlick/.idea
SimpleSlick/target
SimpleSlick/project/target

ActorsGogogo/.idea
ActorsGogogo/target
ActorsGogogo/project/target

MonadMagic/.idea
MonadMagic/target
MonadMagic/project/target

EssentialsAkka/.idea
EssentialsAkka/target
EssentialsAkka/project/target

MacroExample/.idea
MacroExample/target
MacroExample/project/target